#logoSection{
    height: 140px;
    background:#6666ff;
    display: inline-block;
    width: 100%;
}

.division{
    float: left;
    width: 40%;
    margin-left: 10px;
}
.headerimg{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    display:inline-block;
    width: 200px;
    height:132px;
    alignment: center;
    /*padding-left: 10%;*/
}
.imgicon{
    width: 90px;
    height: 90px;
}
.flagIR {
    display: inline-block;
    padding-left: 40px;
    width: 140px;
    height: 140px;
    float: left;
}
P{
    direction: rtl;
    padding: 4px;
}
#tenders{
    display: inline-block;
}
.help{
    direction: rtl;
    float: right;
    height: 200px;
    border: 0px;
    background: transparent;
}

.username{
    background: transparent;
    color:#757677;
    font-family:"B Homa";
    font-size: 18px;
    text-align: right;
    direction: rtl;
    width: 100%;
    display: block;
    margin-right:20px;
    float: right;
    padding-bottom: 10px;
}